.body {
  padding: 40px 20px;
  background-color: #f7f7fa;
  overflow: hidden;
  position: relative;
}

.parent {
  position: relative;
  z-index: 11;
}
.leftSide {
  width: 70%;
}
.rightSide {
  /* width: 30%; */
  position: sticky;
  top: 0;
  bottom: 0;
}
.product {
  font-family: "Courier New", Courier, monospace;
}
.img {
  height: 200px;
}
.btnColor {
  background-color: #2b4cd7;
}
.color {
  color: #2b4cd7;
}

.boxShadow {
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 900px) {
  .rightSide {
    width: 100% !important;
  }
  .leftSide {
    width: 100% !important;
  }
  .product {
    flex-direction: column;
  }
  .productImage {
    width: 100% !important;
  }
  .img {
    width: 100%;
    height: 300px;
  }
}

.sticky-outer {
  /* position: sticky;
  top: 0;
  z-index: 1;  */
  /* ensure the sticky-outer is above the sticky-element */
}

.sticky-element {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;  */
  /* ensure the sticky-element is above the sticky-outer */
}
